body {
    font-family: "Lato", sans-serif;
    font-size: 10px;
  }
  
  .bg-custom{
    background-color: #8cacaa;
  }
  
  
  /*search bar*/
  .form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
    
  }
  
  /*Menu Side*/
  .sidenav {
    margin-top:45px ;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .sidenav a:hover {
    color: #8cacaa;
    text-decoration: none;
  }
  
  
.userimage{
    width: 3em;
    height: 3em;
    border-radius: 100px;
    margin-left: 5px;
    
}  

#orders{
    margin-top: 70px;
}

